.list-group-item {
    transition: transform 0.2s; 
  }
  
  .list-group-item:hover {
    transform: scale(1.01);
    box-shadow: 0px -1px 8px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer; 
  }

.list-group-item .fa-trash-can {
    display: none;
  }
  
  .list-group-item:hover .fa-trash-can {
    display: block;
  }

